<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- lightgallery css cdn link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/css/lightgallery.min.css">
    <!-- custom css file link  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="../../static/style.css">
    <script src="https://kit.fontawesome.com/c4254e24a8.js" crossorigin="anonymous"></script>
    <title>Dashboard</title>
</head>
<body>
<header class="header">

    <a href="index.html" class="logo"> <i class="fas fa-school"></i> BK Kindergarten</a>
    <div class="icons">
        <div class="dropdown">
            <select id="role">
                <option value="admin">Admin</option>
                <option value="parents">Parents</option>
                <option value="teacher">Teacher</option>
            </select>
            <i class="fas fa-user"></i>
        </div>
    </div>

</header>

<section class="reg" id="reg">


    <div class="form-box">
        <h1> Sign In</h1>
        <form class="form-reg" action="../index/index.html" >
            <div class="input-group">
                <div class="input-field" id="input-admin-teacher">
                    <i class="fa-solid fa-envelope"></i>
                    <input type="text" placeholder="Email" name="username">
                </div>

                <div class="input-field">
                    <i class="fa-solid fa-lock"></i>
                    <input type="text" placeholder="Password" name="password">
                </div>

                
            </div>
            <div class="btn-field-login">
                <input type="submit" value="Login"> </input>
            </div>

    
            

            <div class="btn-field-login" id="#wtf" style="display:none;">

               <p style="color: red;">Wrong credentials: Invalid username & password</p>
            </div>


        </form>
    </div>


</section>

<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3><i class="fas fa-school"></i> Kindergarten </h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo, unde</p>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="#"> <i class="fas fa-caret-right"></i> enroll now</a>
            <a href="#"> <i class="fas fa-caret-right"></i> parent portal</a>
            <a href="#"> <i class="fas fa-caret-right"></i> school calendar</a>
            <a href="#"> <i class="fas fa-caret-right"></i> lunch menu</a>
            <a href="#"> <i class="fas fa-caret-right"></i> school supply list</a>
        </div>

        <div class="box">
            <h3>category</h3>
            <a href="#"> <i class="fas fa-caret-right"></i> about us</a>
            <a href="#"> <i class="fas fa-caret-right"></i> academics</a>
            <a href="#"> <i class="fas fa-caret-right"></i> admissions</a>
            <a href="#"> <i class="fas fa-caret-right"></i> news & events</a>
            <a href="#"> <i class="fas fa-caret-right"></i> contact us</a>
        </div>

        <div class="box">
            <h3>extra links</h3>
            <a href="#"> <i class="fas fa-caret-right"></i> privacy policy</a>
            <a href="#"> <i class="fas fa-caret-right"></i> terms of use</a>
            <a href="#"> <i class="fas fa-caret-right"></i> site map</a>
            <a href="#"> <i class="fas fa-caret-right"></i> FAQs</a>
            <a href="#"> <i class="fas fa-caret-right"></i> accessibility statement</a>
        </div>

    </div>

    <div class="credit"> &copy; copyright @ 2023 by <span>hieudp01</span></div>

</section>
<script>
    const role = document.querySelector('#role');
    const inputAdminTeacher = document.querySelector('#input-admin-teacher input');

    role.addEventListener('change', (event) => {
        if (event.target.value === 'parents') {
            inputAdminTeacher.setAttribute('placeholder', 'Child ID');
            document.querySelector("#input-admin-teacher i").className = "fa-solid fa-child";

        } else {
            inputAdminTeacher.setAttribute('placeholder', 'Email');
            document.querySelector("#input-admin-teacher i").className = "fa-solid fa-envelope";
        }
    });

    document.querySelector(".form-reg").onsubmit = function(event) {
    event.preventDefault();
    var username = document.querySelector("input[name='username']").value;
    var password = document.querySelector("input[name='password']").value;
    if (role.value == "parents") {
        window.location.href = "../index/parent.html";
    } else {
        window.location.href = "../index/teacher.html";
    }
}
</script>
</body>
</html>