@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --orange:#f9ba60;
    --pink:#e9768f;
    --black: #1d1c1c;
    --white: #fff;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
  font-family: 'Poppins', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section{
  padding: 3rem 7%;
}

.heading{
  font-size: 4rem;
  color: var(--black);
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 6rem;
}

.heading span{
  color: var(--orange);
  text-transform: uppercase;
}

.btn{
  font-size: 1.7rem;
  margin-top: 1rem;
  display: inline-block;
  padding: .8rem 3rem;
  border-radius: .5rem;
  border: .2rem solid var(--orange);
  color: var(--orange);
  background: none;
  cursor: pointer;
}

.btn:hover{
  background: var(--orange);
  color: var(--white);
}

/* header */

.header{
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  background: var(--white);
  box-shadow: var(--box-shadow);
}

.header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--black);
}

.header .logo i{
  color: var(--orange);
}

.header .navbar a{
  font-size: 1.7rem;
  margin: 0 1rem;
  color: var(--black);
}

.header .navbar a:hover,
.header .icons div:hover{
  color: var(--orange);
}

.header .icons div{
  font-size: 2.5rem;
  margin-left: 1.7rem;
  color: var(--black);
  cursor: pointer;
}

#menu-btn{
  display: none;
}

.header .login-form{
  position: absolute;
  top: 110%; right: -110%;
  width: 35rem;
  box-shadow: var(--box-shadow);
  padding: 2rem;
  border-radius: .5rem;
  background: var(--white);
  text-align: center;
}

.header .login-form.active{
  right: 2rem;
  transition: .4s linear;
}

.header .login-form h3{
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--black);
}

.header .login-form .box{
  width: 100%;
  margin: .7rem 0;
  background: #eee;
  border-radius: .5rem;
  padding: 1rem;
  font-size: 1.6rem;
  color: var(--black);
  text-transform: capitalize;
}

.header .login-form p{
  font-size: 1.4rem;
  padding: .5rem 0;
  color: var(--light-color);
}

.header .login-form p a{
  color: var(--orange);
  text-decoration: underline;
}



/* header ends */

/* home */

.home{
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
  position: relative;
}

.home .content{
  flex: 1 1 40rem;
  padding-top: 6.5rem;
}

.home .content h3{
  font-size: 6rem;
  color: var(--black);
}

.home .content h3 span{
  color: var(--orange);
}

.home .content p{
  font-size: 1.7rem;
  color: var(--light-color);
  line-height: 1.8;
  padding: 1rem 0;
}

.home .image{
  flex: 1 1 40rem;
}

.home .image img{
  width: 100%;
  padding: 4rem;
}

.custom-shape-divider-bottom-1684324473 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1684324473 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 107px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1684324473 .shape-fill {
  fill: var(--pink);
}

/* end */

/* about us */



/* end */

/* media query */

@media (max-width:991px){

  html{
    font-size: 55%;
  }

  .header{
    padding: 2rem 3rem;
  }

  section{
    padding: 3rem;
  }

}

@media (max-width:768px){

  #menu-btn{
    display: inline-block;
  }

  .header .navbar{
    position: absolute;
    top: 110%; right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    background: var(--white);
  }

  .header .navbar.active{
    right: 2rem;
    transition: .4s linear;
  }

  .header .navbar a{
    font-size: 2rem;
    margin: 2rem 2.5rem;
    display: block;
  }

  .home .content h3{
    font-size: 4.5rem;
  }

}

@media (max-width:450px){
  html{
    font-size: 50%;
  }
  .home .content h3{
    font-size: 3.5rem;
  }
}


/* register form */
/* Add a background image to the "home" section */
.child{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    position: relative;
  }



.feedback
{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  background-color: #e9768f;
  justify-content: center;
}

.feedback-box
{
  background: #fff;
  padding: 50px 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emoji
{
  width: 100px;
  height: 100px;
  border-radius: #000;
  margin-bottom: 30px;
}

.emoji img{
  width: 80px;
  margin: 0 10px;
}

#emoji2 {
  display: flex;
  align-items: center;
  transform: translateX(-400px);
  transition: 0.3s;
}

.rating .fas{
  font-size: 40px;
  color: #e4e4e4;
  cursor:pointer;
}